body{
display:grid;
place-items: center;
height: 100vh;
}
.div1{
display:flex;

}
.btn{
font-size: 20px;
border-radius:5px;
margin: 30px;

}
#gridbtn{
font-size: 20px;
border-radius:5px;
margin: 30px;
}

#masterGrid{
display: flex;
flex-wrap:wrap;
height: 550px;
width: 550px;
border: 3px solid black
}


